table, td{
    border: 1px solid black;
    border-collapse: collapse;
    /* only for the table object */
    width: 32rem; 
    /* only for the td object */
    height: 3.5rem;
}

tr:nth-child(odd)
td:nth-child(odd),
tr:nth-child(even)
td:nth-child(even){
    background-color: #FECE9E;
}

tr:nth-child(odd)
td:nth-child(even),
tr:nth-child(even)
td:nth-child(odd){
    background-color: #D18B47;
}